h3 {
  color: #361E1E;
  text-align: center;
  font-size: 35px;

}


table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  margin: 0 auto;

}

tbody {
  font-family: monospace;
  font-size: 15px;
}

th {
  height: 35px;
  background-color: #A9A9A9;
  font-size: 20px;
}

tr:hover {background-color: #f5f5f5;}

table, th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

footer {
  padding: 1rem 0;
  text-align: center;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
